<p>viewproduct works!</p>

<input type="button" value="view product" name="display" (click)="showproduct()">


    <div class="container">
        <div class="row">
            <div class="col col-4 col-sm-4">
                <table>
                    <tr>
                        <td>Product ID</td>
                        <td>Name</td>
                        <td>Price</td>                   
                    </tr>
                    <tr *ngFor="let i of productdetails">
                        <td>{{i.pid}}</td>
                        <td>{{i.pname}}</td>
                        <td>{{i.price}}</td>
                        <td><input type="button" value="Edit" (click)="editproduct(i.pid)"/></td>
                    </tr>
                </table>
            </div>
            <div class="col col-4 col-sm-4">

                
            </div>
        </div>
