<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">Logo</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a routerLink="/home/edit">Edit Product</a></li>
        <li><a routerLink="/home/new">Add Product</a></li>
        <li><a routerLink="/home/view">View Product</a></li>
        <li><a routerLink="/home/del">Remove Product</a></li>
        <li><a [routerLink]="['/home/about/','ABC Corp','Kochi']">About us</a></li>
        <li><a routerLink="/home/contact">Contact us</a></li>
        <li><a routerLink="/home/service">Services</a></li>
      </ul>
    </div>
  </nav>