<p>editproduct works!</p>
<div class="container">
    <div class="row">
        <div class="col col-4 col-sm-4">
                <input type="text" name="name" placeholder="Username" [(ngModel)]="val"/>
                <input type="button" value="Set Name" (click)="Add()"/>
                <br>
                <br>
                <label>Welcome {{user}}</label>
        </div>
        
        <div class="col col-4 col-sm-4">
                <input type="text" name="pname" placeholder="Product Name" [(ngModel)]="pname"/>
                <input type="text" name="price" placeholder="Price" [(ngModel)]="price"/>
                <input type="button" value="Add to Cart" (click)="Addtocart()"/>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col col-4 col-sm-4">
            <table>
                <tr>
                    <td>Product ID</td>
                    <td><input type="text" name="pid" value="{{viewresult[0].pid}}" readonly/></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td><input type="text" name="pname" value="{{viewresult[0].pname}}" [(ngModel)]="name"/></td>
                </tr>
                <tr>
                    <td>Price</td>  
                    <td><input type="text" name="price" value="{{viewresult[0].price}}" [(ngModel)]="prodprice"/></td>  
                </tr>  
                <tr>
                        <td></td>  
                        <td><input type="button" value="Update" (click)="update(viewresult[0].pid)"/></td>  
                </tr>               

            </table>
        </div>
    </div>
</div>





